<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\about.css">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
<title>About</title>
<body>
    <script src="static\index.js"></script>
    <div id="navbar">
      <a style="height: 30px;" href="/" id="logo"><img src="static\pic\i1.jpg" style="max-height: 65px; top: -24px; position: relative "></a>
      <div id="navbar-right">
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
        <a class="active" href="/about">About</a>
        <a href="/developers">Developers</a>
        <a href="/upcsv">Upload csv file</a>
        <a href="/display">DataSet</a>
         
        </div>
      </div>

      <h1>



          <br><br><br><br><br>
          <h2 style="text-align:center; font-size: 45px; font-family: 'Merriweather', serif; font-weight: 700;">What's this ?</h2>
          <p style="padding:90px; padding-top: 40px; font-size: 30px; font-family: 'Oswald', sans-serif; font-weight:400; text-align: justify;"> Data fusion is the process of integrating multiple data sources to produce more consistent, accurate, and useful information than that provided by any individual data source. Data fusion processes are often categorized as low, intermediate, or high, depending on the processing stage at which fusion takes place. The expectation is that fused data is more informative and synthetic than the original inputs.

           <br><br> An electronic medical record includes information about a patient's health history, such as diagnoses, medicines, tests, allergies, immunizations, and treatment plans. Electronic medical records can be seen by all healthcare providers who are taking care of a patient and can be used by them to help make recommendations about the patient’s care.
  
           <br><br> In simple terms, this software fuses electronic medical records from different sources.</p>

         
      </h1>
</body>
</html>