<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\contactus.css">
<title>Contact Us </title>
<body>
    <script src="static\index.js"></script>
    <div id="navbar">
      <a style="height: 30px;" href="/" id="logo"><img src="static\pic\i1.jpg" style="max-height: 65px; top: -24px; position: relative "></a>
      <div id="navbar-right">
        <a href="/">Home</a>
        <a class="active" href="/contact">Contact Us</a>
        <a href="/about">About</a>
        <a href="/developers">Developers</a>
        <a href="/upcsv">Upload csv file</a>
        <a href="/display">DataSet</a>
          
        </div>
      </div>
  
      <br><br><br><br><br><br><br><br><br><br><br>
<form>
    <a href="mailto:EMAILADDRESS"; style="background-color: transparent;  text-decoration: none;"><h1 style="text-align: center; position: relative; color: dodgerblue; font-size: 60px;"; > EMAIL US</h1></a>
</form>  
<a href="mailto:EMAILADDRESS";> <img src="static\pic\contact.jpg" style="width:58%; height: 58%; display: block; margin-left: auto; margin-right: auto;" alt="EMAIL US"></a>
<br><br>
</body>
</html>