<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\developers.css">
<title>Our Developers </title>
<body>
    <script src="static\index.js"></script>
    <div id="navbar">
      <a style="height: 30px;" href="/" id="logo"><img src="static\pic\i1.jpg" style="max-height: 65px; top: -24px; position: relative "></a>
      <div id="navbar-right">
        <a href="/">Home</a>
        <a href="/contact">Contact Us</a>
        <a href="/about">About</a>
        <a class="active" href="/developers">Developers</a>
        <a href="/upcsv">Upload csv file</a>
        <a href="/display">DataSet</a>

        </div>
      </div>
  
      <br><br><br><br><br><br><br><br><br><br>
      
      <h2 style="text-align:center; font-size: 48px; font-weight: 700; color: black;">DEVELOPERS</h2><br><br>



<div class="card1" style="left: 20%;">
  <img src="static\pic\as.jpg" alt="Akshat" style="width:279px; height: 365px;">
  <h1>Akshat Sharma</h1>
  <p class="title">A12405217149</p>
  <p>Amity University, Noida</p>
  <p><button><a style="color: white; font-size: 18px;" href="https://www.linkedin.com/in/akshat-sharma-3394a3193/">Contact</a></button></p>
</div>

<div class="card1" style="right: 20%;">
  <img src="static\pic\ak.jpg" alt="Anmol" style="width:100%">
  <h1>Anmol Kapoor</h1>
  <p class="title">A12405217150</p>
  <p>Amity University, Noida</p>
  <p><button><a style="color: white; font-size: 18px;" href="https://www.linkedin.com/in/anmol-kapoor-6671b4160/">Contact</a></button></p>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="card2" style="left: 20%;">
  <img src="static\pic\rg.jpg" alt="Ramgopal" style="width:100%">
  <h1>Ramgopal Varma</h1>
  <p class="title">A2305217222</p>
  <p>Amity University, Noida</p>
  <p><button><a style="color: white; font-size: 18px;" href="https://www.linkedin.com/in/ramgopalvarma-varma-1887a316b/">Contact</a></button></p>
</div>

<div class="card2" style="right: 20%;">
  <img src="static\pic\ry.jpg" alt="Rohit" style="width:100%">
  <h1>Rohit Yadav</h1>
  <p class="title">A12405217063</p>
  <p>Amity University, Noida</p>
<p><button><a style="color: white; font-size: 18px;" href="https://www.linkedin.com/in/rohit-yadav-83679a187/">Contact</a></button></p>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>