<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\index.css">
<title>EMR Fuse</title>
<body>
    <script src="static\index.js"></script>
    <div id="navbar">
        <a style="height: 30px;" href="/" id="logo"><img src="static\pic\i1.jpg" style="max-height: 65px; top: -24px; position: relative "></a>
        <div id="navbar-right">
          <a class="active" href="/">Home</a>
          <a href="/contact">Contact Us</a>
          <a href="/about">About</a>
          <a href="/developers">Developers</a>
          <a href="/upcsv">Upload csv file</a>
          <a href="/display">DataSet</a>
         
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>
      <img src="static\pic\h1.jpg" style="width: 70%; height: 20%; display: block; margin-left: auto; margin-right: auto; padding-bottom: 30px;">

        <br><br>
 
      
</body>
</html>